<section data-ng-controller="HomeController" data-ng-init="findNews()">
  <div class="row one content-dark">
    <div class="jumbotron">
      <h1>AMKA</h1>

      <p>Atlantic Motorsport Karters Association</p>

      <p><a class="btn btn-primary btn-lg" href="#about">Learn more</a></p>
    </div>
  </div>
  <div class="row four content-dark">
    <div class="col-md-4 text-center">
      <h1>Tweet us</h1>
      <a href="https://twitter.com/amkakarters"><i class="fa fa-twitter fa-3x"></i></a>
    </div>
    <div class="col-md-4 text-center">
      <h1>Want to join us?</h1>
      <a href="/#!/contact"><h3>Send us an email</h3></a>
    </div>
    <div class="col-md-4 text-center">
      <h1>Like us</h1>
      <a href="https://www.facebook.com/groups/atlanticmotorsportkarters/"><i class="fa fa-facebook fa-3x"></i></a>
    </div>
  </div>
  <div class="row two content-dark">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <h2>News</h2>
      <hr>
      <div class="list-group">
        <a data-ng-repeat="news in news" data-ng-href="#!/news">
          <h3 class="list-group-item-heading" data-ng-bind="news.title"></h3>
          <h6>
            Posted on
            <span data-ng-bind="news.created | date:'medium'"></span>
            by
            <span data-ng-bind="news.user.displayName"></span>
          </h6>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <h2>Results</h2>
      <hr>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <h2>Sponsors</h2>
      <hr>
    </div>
  </div>
  <a name="about"></a>
  <div class="row four content-dark">
    <div class="col-md-6">
      <img src="modules/core/img/amka_white.png" class="center-block img-responsive" alt="Responsive image">
    </div>
    <div class="col-md-6">
      <p>
        Atlantic Motorsport Karters Association has been Nova Scotia's outdoor kart racing choice for 27
        years. From May through to late September, rain or shine you will find us tearing up the track at <a
              href="http://www.scotiaspeedworld.ca/">Scotia Speedworld</a> on <a href="/#/!/calendar">Saturdays</a>.
        <br><br>
        AMKA offers Divisions for racing enthusiasts from the age of 7 and up. Boys and Girls, Men and Women. If you
        share a passion for racing and having fun, you are welcome here.
        <br><br>
        We are always looking for new drivers and are very willing help new members get 'geared up'. Give us a call, <a href="/#!/contact">send
        an email</a>, or check out the <a href="/#!/calendar">schedule</a> and come out to the track!
      </p>
    </div>
  </div>
  <div class="row three content-dark text-center">
    <h1>Stay in touch</h1>
    <div class="col-md-offset-4 col-md-4">
    <form style="margin-top:25px">
      <div class="input-group">
        <input id="mail" name="email" type="email" class="form-control" placeholder="Email address">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Subscribe</button>
            </span>
      </div>
    </form>
    </div>
  </div>
</section>
